
/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f5f5f5;
  padding: 20px;
}

p-calendar {
  width: 100%;
  position: relative;
  .p-calendar {
    width: 100%;
    height: 40px;
    input {
      width: 100%;
      border: 2px solid #e1e1e1;
      border-radius: 12px;
      font-size: 1rem;
      transition: all 0.3s ease;
    }
  }
}

.p-dropdown {
  width: 100%;
  border: 1px solid #774ea740;
  border-radius: 8px;
  outline: 0;
  background-color: #ffffff;
  height: 40px;

  .p-dropdown-label{
    height: 100%;
    padding: 10px;
  }
}


table {
  thead {
    tr {
      th {
        padding: 10px 15px;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 10px 15px;
      }
    }
  }
}

.btn {
  padding: 5px 10px;
  background-color: var(--gray-700);
  color: var(--gray-400);
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}


.wrapper {
  display: flex;
  justify-content: center;
}

.login-card {
  background: white;
  border-radius: 20px;
  padding: 40px 40px;
  width: 100%;
  max-width: 550px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

  .brand {
    text-align: center;
    margin-bottom: 2rem;
    &-logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 auto 1rem;
      //background-image: url("../../../assets/cloco.svg");
    }
  }
}




.brand h1 {
  font-size: 1.75rem;
  color: #1a1a1a;
  margin-bottom: 0.5rem;
}

.brand p {
  color: #666;
  font-size: 0.95rem;
}

.form_group_container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 0.9rem;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 2px solid #e1e1e1;
  border-radius: 12px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-group input:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

.p-dialog-header,  {
  padding: 10px 20px;
}

.p-dialog-footer {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

