<div class="login-card">
  <div class="brand">
    <div class="brand-logo"></div>
    <h1>Welcome back</h1>
    <p>Enter your credentials to access your account</p>
  </div>

  <form id="loginForm">
    <div class="form_group_container">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          placeholder="Enter your name"
        >
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          placeholder="Enter your name"
        >
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        placeholder="Enter your email"
        autocomplete="email"
      >
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Enter your password"
        autocomplete="current-password"
      >
    </div>
    <div class="form-group">
      <label for="number">Phone Number</label>
      <input
        type="number"
        id="number"
        placeholder="Enter your number"
      >
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select>
          <mat-option value="M">Male</mat-option>
          <mat-option value="F">Female</mat-option>
          <mat-option value="O">Other</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input
      type="text"
      id="address"
      placeholder="Enter your address">
    </div>

    <div class="form-group">
      <label>Date of Birth</label>
      <mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [max]="presentDate" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <button type="submit" class="login-btn" id="loginButton">
      Sign up
    </button>
  </form>

  <div class="signup-link">
    <p>Don't have an account? <a [routerLink]="['/login']">Sign in</a></p>
  </div>
</div>
