<button class="btn" (click)="addUser()">Add</button>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        S.N
      </th>
      <th scope="col" class="px-6 py-3">
        FirstName
      </th>
      <th scope="col" class="px-6 py-3">
        LastName
      </th>
      <th scope="col" class="px-6 py-3">
        Email
      </th>
      <th scope="col" class="px-6 py-3">
        Gender
      </th>
      <th scope="col" class="px-6 py-3">
        Phone Number
      </th>
      <th scope="col" class="px-6 py-3">
        DOB
      </th>
      <th scope="col" class="px-6 py-3">
        Address
      </th>
      <th scope="col" class="px-6 py-3">
        Role
      </th>
      <th scope="col" class="px-6 py-3">
        Action
      </th>

    </tr>
    </thead>
    <tbody>
      @for ( user of userList(); track user; let first = $first, index = $index) {
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
          <td class="px-6 py-4">
            {{ index + 1 }}
          </td>
          <td class="px-6 py-4">
            {{ user.firstName }}
          </td>
          <td class="px-6 py-4">
            {{ user.lastName }}
          </td>
          <td class="px-6 py-4">
            {{ user.email }}
          </td>
          <td class="px-6 py-4">
            {{ user.gender }}
          </td>
          <td class="px-6 py-4">
            {{ user.phone }}
          </td>
          <td class="px-6 py-4">
            {{ user.dob }}
          </td>
          <td class="px-6 py-4">
            {{ user.address }}
          </td>
          <td class="px-6 py-4">
            {{ user.role }}
          </td>
          <td class="px-6 py-4">
            <button class="btn" (click)="editUser(user)">Edit</button>/<button class="btn" (click)="deleteUser(user)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<p-dialog header="User Details" [(visible)]="visible" [modal]="true" [closable]="false">
  <div class="p-fluid" [formGroup]="userForm">
    <div class="p-field">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" pInputText formControlName="firstName" />
    </div>

    <div class="p-field">
      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" pInputText formControlName="lastName" />
    </div>

    <div class="p-field">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText formControlName="email" />
    </div>

    <div class="p-field">
      <label for="phone">Phone</label>
      <input id="phone" mask="999-999-9999" pInputText formControlName="phone" />
    </div>

    <div class="p-field">
      <label for="role">Role</label>
      <p-dropdown id="role" [options]="RoleConstant" placeholder="Select a Role" formControlName="role"></p-dropdown>
    </div>

    <div class="p-field">
      <label>Gender</label>
      <p-dropdown id="gender" [options]="Gender" placeholder="Select a Gender" formControlName="gender"></p-dropdown>
    </div>

    <div class="p-field">
      <label for="dob">Date of Birth</label>
      <p-calendar formControlName="dob" id="dob" dateFormat="yy-mm-dd"></p-calendar>
    </div>

    <div class="p-field">
      <label for="address">Address</label>
      <input id="address" formControlName="address" pInputText />
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" icon="pi pi-times" (click)="visible = false" class="p-button-text"></p-button>
    <p-button label="Save" icon="pi pi-check" (click)="saveUser()"></p-button>
  </ng-template>
</p-dialog>
