.btn-wrapper {
  display: flex;
  gap: 20px;
}

nav {
  ul {
    display: flex;
    li {
      padding: 5px 10px;
      background-color: #1f2937;
      color: #fff;
      cursor: pointer;
      a {
        width: 100%;
      }
    }
  }
}
