.btn-wrapper {
  display: flex;
  gap: 20px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top:10px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
      gap: 10px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #1f2937;
      color: #1f2937;
      a {
        width: 100%;
      }
      &:hover {
        color: #fff;
        background-color: #1f2937;
      }
    }
    .active {
      background-color: #1f2937;
      color: #fff;
    }
  }
}
